@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    scroll-behavior: smooth;

}

::-webkit-scrollbar {
    background: #202024;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(117, 117, 117);
    border-radius: 25px;
}

body{
    background: linear-gradient(120deg, #202024, #A8AABD,#9FB1BD, #AC9FBD);
    background-repeat: no-repeat;
    background-size: 900% 900%;
    scroll-behavior: smooth;
    height: 100vh;
    animation: none;
}

@keyframes lighttheme{
    0%{
        background-size: 900% 900%;
    }
    100%{
        background-size: 100% 100%;
    }
}

@keyframes darktheme{
    0%{
        background-size: 100% 100%;
    }
    100%{
        background-size: 900% 900%;
    }
}

header{
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100px;
    z-index: 99;
}

#initial_logo{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

#initial_header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

#logo_icon{
    margin-left: 50px;
    color: #17e2e9;
    font-size: 3em;
    transition: all 0.6s;
    
}

#logo_icon:hover{
    cursor: pointer;
    color: #da5838;
    transform: scale(110%);
}

#initial_header a{
    font-weight: 800;
    margin-right: 40px;
    font-size: 1.5em;
    text-decoration: none;
    color: #17e2e9;
    position: relative;
    transition: all 0.1s;
}

.mec:hover{
    border-bottom: 2px solid #17e2e9;
}

#apresentation{
    width: 1200px;
    height: 50vh;
    margin: 15vw auto;
}

#apresentation h2{
    margin-bottom: 15px;
    color: #17e2e9;
}

#apresentation h1{
    color: #e6e6e6;
    font-size: 4.6em;
}

#apresentation h3{
    color: #A8AABD;
    font-size: 4em;
}

#apresentation p{
    margin-top: 20px;
    width: 350px;
    color: #b4b4b4;
    font-size: 1.2em;
}

#apresentation a{
    text-decoration: none;
    color: #17e2e9;
}

#alert_theme{
    margin-left: 20px;
    color: #17e2e9;
    font-size: 2.3em;
}

#alert{
    display: flex;
    height: 50px;
    align-items: center;
}

#alert p {
    color: #17e2e9;
    font-weight: 700;
    margin-left: 20px;
}

#capabilities{
    display: flex;
    background-color: rgba(0, 0, 0, 0.137);
    align-items: center;
}

#capa{
    display: flex;
    margin-left: 100px;
    height: 100vh;
    width: 100vw;
    place-items: center;
}

#capa_title{
    margin-left: 5%;
    font-size: 3em;
    color: #17e2e9;
    writing-mode: vertical-lr;
    width: 60px;
    
}

.blocks{
    margin-left: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 10px;
    background-color: rgb(46, 44, 63);
    border-bottom: 2px dashed #17e2e9;
    border-radius: 15px 0 15px 0;
    transition: all 0.6s;
}

.blocks:hover{
    border-top: 1px dashed #17e2e9;
    transform: scale(105%);
    box-shadow: 0 0 10px #17e2e9;
}

.fa-brands{
    font-size: 5em;
    color: #17e2e9;
}

.fa-question{
    font-size: 5em;
    color: #17e2e9;
}

#projects {
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

#sec_itens{
    display: flex;
    align-items: center;
    width: 500px;
    justify-content: center;
    height: 600px;
    overflow: auto;
}

#sec_desc{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 600px;
}

#p_itens{
    overflow: auto;
    scroll-behavior: smooth;
    width: 350px;
    height: 350px;
    background-color: rgb(46, 44, 63);
    border-radius: 35px 0 0 0;
    border-bottom: 3px dashed #17e2e9;
    box-shadow: 0 0 10px;
}

#p_itens::-webkit-scrollbar{
    background: transparent;
    width: 10px;
}


.pp_itens{
    margin-left: 20px;
    margin-top: 35px;
    box-shadow: 0 0 10px;
    margin-bottom: 35px;
    width: 300px;
    height: 300px;
    border-radius: 35px 0 35px 0;
    background-color: #38383f;
    transition: all 0.6s;
}

.pp_itens:hover{
    box-shadow: 0 0 10px #17e2e9;
    cursor: pointer;
}

#descrip_p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 350px;
    background-color: rgb(46, 44, 63);
    border-radius: 35px 0 35px 0;
    border-bottom: 3px dashed #17e2e9;
    box-shadow: 0 0 10px;
    
}

#descrip_h3{
    font-size: 3.1em;
    color: #17e2e9;
}

#project_img2{
    background-image: url(/assets/projects_images/DarkandLightTheme.gif);  
    background-size: 100%;
    }

#project_img1{
    background-image: url(/assets/projects_images/Digital_Clock.gif);  
    background-size: 100%;
    }

#project_img3{
    background-image: url(/assets/projects_images/StopWatch.gif);  
    background-size: 100%;
    }

    #project_img4{
        background-image: url(/assets/projects_images/Web_Market.gif);  
        background-size: 100%;
        }

#descrip_real{
    display: none;
    text-align: justify;
    font-size: 1.3em;
    margin: 50px;
    color: white;
    font-weight: 700;
}

#code_btn1{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100px;
    text-decoration: none;
    height: 35px;
    background-color: #38383f;
    border: none;
    font-weight: 700;
    font-size: 1.3em;
    border-bottom: 1px dashed #17e2e9;
    color: #17e2e9;
    border-radius: 0 15px 0 15px;
    box-shadow: 0 0 10px black;
    transition: all 0.5s;
}

#code_btn2{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100px;
    text-decoration: none;
    height: 35px;
    background-color: #38383f;
    border: none;
    font-weight: 700;
    font-size: 1.3em;
    border-bottom: 1px dashed #17e2e9;
    color: #17e2e9;
    border-radius: 0 15px 0 15px;
    box-shadow: 0 0 10px black;
    transition: all 0.5s;
}

#code_btn3{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100px;
    text-decoration: none;
    height: 35px;
    background-color: #38383f;
    border: none;
    font-weight: 700;
    font-size: 1.3em;
    border-bottom: 1px dashed #17e2e9;
    color: #17e2e9;
    border-radius: 0 15px 0 15px;
    box-shadow: 0 0 10px black;
    transition: all 0.5s;
}

#code_btn4{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100px;
    text-decoration: none;
    height: 35px;
    background-color: #38383f;
    border: none;
    font-weight: 700;
    font-size: 1.3em;
    border-bottom: 1px dashed #17e2e9;
    color: #17e2e9;
    border-radius: 0 15px 0 15px;
    box-shadow: 0 0 10px black;
    transition: all 0.5s;
}

#code_btn1:hover{
    cursor: pointer;
    border-top: 1px dashed #17e2e9;
    border-radius: 15px 0 15px 0;
    box-shadow: 0 0 10px #17e2e9;
}

#code_btn2:hover{
    cursor: pointer;
    border-top: 1px dashed #17e2e9;
    border-radius: 15px 0 15px 0;
    box-shadow: 0 0 10px #17e2e9;
}

#code_btn3:hover{
    cursor: pointer;
    border-top: 1px dashed #17e2e9;
    border-radius: 15px 0 15px 0;
    box-shadow: 0 0 10px #17e2e9;
}

#code_btn4:hover{
    cursor: pointer;
    border-top: 1px dashed #17e2e9;
    border-radius: 15px 0 15px 0;
    box-shadow: 0 0 10px #17e2e9;
}

#project_icons{
    display: none;
    width: 125px;
    justify-content: space-around;
}

.ziz{
    font-size: 2em;
    color: #17e2e9;
}

footer{
    border-top: 2px dashed #17e2e9;
    text-align: center;
    color: white;
}

.hi_reveal_1, .blocks, .titles {
    visibility: hidden;
}

#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.137);
}

#about_content{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

#journey{
    display: flex;
    justify-content: center;
    width: 50%;
}

#wiam{
    display: flex;
    justify-content: center;
    width: 50%;
}

#about_title{
    font-size: 3em;
    color: #17e2e9;
}

.sub_titles{
    font-size: 2.5em;
    color: #17e2e9;
}

