[submodule "assets/Projects_iframe/Dark and Light Theme"]
    path = assets/Projects_iframe/Dark and Light Theme
    url = https://byakkolord.github.io/Dark-and-Light-Theme/
[submodule "assets/Projects_iframe/vemkac-project-4/"]
    path = assets/Projects_iframe/vemkac-project-4/
    url = https://github.com/ByakkoLord/
[submodule "assets/Projects_iframe/Relógio Digital/"]
    path = assets/Projects_iframe/Relógio Digital/
    url = https://byakkolord.github.io/Rel-gio-Digital/
[submodule "assets/Projects_iframe/Relógio Cronometro/"]
    path = assets/Projects_iframe/Relógio Cronometro/
    url = https://github.com/ByakkoLord/