@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@layer base{
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
  }
  body{
    background-color: #232327;
  }
  .primaryColor{
    color: #17e2e9;
  }
  .secondaryColor{
    color: #da5838;
  }
  .textColor1{
    color: #a8aabd;
  }
  .textColor2{
    color: #e6e6e6;
  }
}